.header{
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.body .sider{
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main{
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a{
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}

#form-search .input-group {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

#form-search .form-control {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#form-search .input-group-append .btn {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
}

.pagination{
    text-align: center;
}

[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px !important;  /* Đảm bảo căn sát phải */
    margin-right: 15px; /* Cách lề phải 15px */
    z-index: 999;
    max-width: 300px;
    background: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    color: #155724;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

.image-preview{
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src='']{
    display: none;
}

.hide-btn{
    display: hidden;
}
